# Arquivos de variáveis de ambiente com dados sensíveis
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Dependências
node_modules/

# Vercel
.vercel

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini
